<!doctype html>
<html>
	<head>
		<title>Ejercicio CSS</title>
		<link rel="stylesheet" type="text/css" href="/css/estilos.css"></link>		
	</head>

	<body>
		<h3>Ejercicio: Completar con codigo css en el archivo ya incluido para cumplir con las siguientes pautas.</h3>
		<ol>
			<li>Hacer que los elementos con clase verde se vean verdes y los de clase azul se vean azul</li>
			<li>Hacer que el elemento etiqueta-secundaria se vea mas grande</li>
			<li>Hacer que los elementos con clase subrayado se vean subrayados</li>
			<li>Hacer que los label se vean con margin y padding  de 20 pixeles</li>
			<li>Hacer que los elementos que al mismo tiempo tienen clase verde y son tag p se vean con fondo amarillo</li>
			<li>Hacer que los p subrayados y los span verdes se vean con borde, padding de 10px y margen de 5px. (Hacerlo para ambos sin repetir el codigo)</li>
		</ol>
		
		<label class="verde">A</label>
		<label>B</label>
		<label id="etiqueta-principal">C</label>
		<label>D</label>
		<label id="etiqueta-secundaria" class="azul">E</label>
		<label class="azul">F</label>
		<label>G</label>
		<p>H</p>
		<p class="verde">I</p>
		<p>J</p>
		<p class="azul">K</p>
		<p>L</p>
		<p class="subrayado">M</p>
		<span id="354" class="verde">N</span>
		<span class="verde subrayado">O</span>
		<span>P</span>
		<span>Q</span>
	</body>

</html>