<!doctype html>
<html>
	<head>
		<title>Ejercicio Grilla Bootstrap</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"></link>
	
		<link rel="stylesheet" type="text/css" href="/css/estilos.css"></link>
		
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</head>

	<body>
		<h3>Ejercicio: Realizar los siguientes items utilizando todo lo visto en clase de controladores, rutas, templates, formularios, etc.</h3>
		<ol>
			<li>Hacer una ruta /sorteo que muestre en pantalla un numero entre 0 y 10. El codigo para generar numeros aleatorios esta en Slack</li>
			<li>Hacer una ruta /sorteo/{n} que muestre en pantalla un numero entre 0 y n.</li>
			<li>Hacer que la ruta / muestre una pagina de bienvenida con dos links (tag a) que apunten a las rutas de los ejercicios anteriores. </li>
			<li>Hacer una ruta /completar-datos que mostrar un formulario con campos nombre, apellido, email, y comentario. </li>
			<li>Hacer una ruta para procesar ese formulario y si ninguno de los datos esta vacio, mostrar una pantalla de Gracias por contactarnos.</li>
			<li>Enganchar ese formulario con esa ruta (si no lo hicieron en el paso anterior)</li>
			<li>Hacer que la pantalla de Gracias ademas incluya toda la info recien cargada por el usuario, es decir, nombre, apellido, email y su comentario.</li>
			<li>Hacer que si algun dato esta vacio, se vuelva a mostrar el formulario original con los datos pre cargados.</li>
		
		</ol>
		<
	</body>

</html>