<!doctype html>
<html>
	<head>
		<title>Estructura</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"></link>
	
		<link rel="stylesheet" type="text/css" href="/css/estilos.css"></link>
		
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</head>

	<body>		
		<div class="container">
		
			<div id="header" class="row">
				<div class="col-md-5">
					<img id="logo" src="/images/control.png"></img>
				</div>
				<div class="col-md-7">
					<h1>Revista Superoficial 2</h1>
					<p>Explota la fabrica central de Nintendo, dejando en coma a Shigeru Miyamoto</p>
				</div>
			</div>
			
			<div id="pagina" class="row">
				<div id="cuerpo" class="col-md-8" layout:fragment="contenido">
					<img id="shigeru" src="/images/shigeru.jpg"></img>
					<p class="txt">La realidad es que Miyamoto se encuentra en perfecta salud pero estamos desesperados por visitas, el negocio esta cayendo</p>
				</div>
				<div id="texto-lateral" class="col-md-4">
					<p id="lateral" class="txt">Nuestra empresa esta hundida hasta el cuello en deudas</p>
				</div>
			</div>
			
			<div id="fortnite" class="row">
				<div class="col-md-8">
					<img id="img2" src="/images/fortnite.jpg"></img>
					<p class="txt">Ahora haremos un reportaje en el nuevo juego de moda, porque es lo que atrae lectores, pero no se pierdan la noticia de el proximo mes, un juego completamente diferente!</p>
				</div>
				<div class="col-md-4">
					<p class="txt"> Fin del comunicado</p>
				</div>
			</div>
			
			<div id="footer" class="row">
				<div class="col-md-4">
					<p> Aceptamos donaciones</p>
				</div>
				<div class="col-md-4">
					<p> Suscribase a nuestro Patreon</p>
				</div>
				<div class="col-md-4">
					<p> Tambien pintamos casas por dinero</p>
				</div>
			</div>
		
		
		</div>
	</body>

</html>